/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

.quoteAndPassGroup {
    display: flex;
    justify-content: center;  
    align-items: center;      
    max-height: 100vh; 
    flex-direction: column;
    .quoteGroup {
        text-align: center;
        width: 70%;
        .quote {
            font-family: "Babylonica";
            font-size: 7rem;
            padding-bottom: 0;
            margin-bottom: 0;
            word-spacing: 1rem;
            .blankWord {
                    color: white;
                   // border-bottom: 3px solid black;
                    transition: color 0.75s ease-in-out;
                    //font-size: 1rem;
                    &:hover {
                        color: rgb(210, 210, 210);
                    }
                }
        }
        .quoteAuthor {
            font-size: 2rem;
            margin-bottom: 7rem;
            margin-top: 0;
        }
    }
    .passwordGroup {
        .form {
            display: flex;
            flex-direction: column;
            label {
                font-size: 1rem;
                text-align: center;
                margin-bottom: 1rem;
            }
            input {
                height: 2.5rem;
                margin-bottom: 1rem;
                width: 300px;
            }
            button {
                height: 2.5rem;
            }
        }
    }
}

.heroIntro { //I'm sure this will all have to change with a real image
    background-color: black;
    color: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* or 'fixed' if you want it to stay in place as you scroll */
     top: 0;
    left: 0;
    z-index: -10;
    h1 {
        font-size: 8rem;
        text-align: center;
        margin: 0;
    }
}

#headerWrapper {
    background-color: #abd;
    color: $secondaryColor;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 1rem $gutter;
    gap: 8px;
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $normalWeight;
        color: black;
    }
}

#navWrapper {
position: fixed; 
  top: 0;          
  left: 0;        
  width: 100%;     
  z-index: 1000;
  background: rgba(0, 0, 0, 0.454);
  padding-bottom: 1rem;
  transition: background-color 0.75s ease-in-out; //this doesn't work
    &:hover {
        background-color: #000;
    }
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-top: 1rem;
        display: flex;
        color: white;
        li {
            flex: 1;
            margin: 0 1rem 0 1rem;
            color: white;
            
        }
    }
    li.active {
        border: 1px solid white;
        color: white;
    }
    a {
        display: block;
        padding: .75rem;
        text-align: center;
        text-decoration: none;
        color: white;
        &:hover {
            color: rgb(207, 207, 207);
            border: 1px solid rgb(207, 207, 207);
        }
    }
}

.bodyText_optionOne {
    color: black;
    font-size: 1rem;
    margin-top: 100vh; //makes it not be on top of the hero image
    .sectionTitle {
        h1 {
            padding-top: 2rem;
            font-size: 5rem;
            text-align: center;
        }
    }
    .imageTextImage {
        display: flex;
        flex-direction: row;
        align-items: center;
        span { //all of this is arbitrary, just for visual example
            padding-top: 25%;
            padding-bottom: 25%;
            height: 100%;
            background-color: gray;
            width: 500px;
            text-align: center;
        }
        p {
            width: 90%;
            padding: 0 5rem 0 5rem;
        }
    }

}

.nextSection {
    color: white;
    background-color: #000;
    text-align: center;
    padding: 2rem 0 4rem 0;
    margin-top: 20px;
    h1 {
        font-family: 'Babylonica';
        font-size: 7rem;
    }
    a {
        border: 2px solid white;
        padding: 1rem;
        color: white;
        text-decoration: none;
    }
}

.finalQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
        .quote {
            font-family: 'babylonica';
            font-size: 4rem;
            width: 70%;
            margin: 0;
        }
        .author {
            font-size: 1.5rem;
            margin-bottom: 0;
            padding: 0;
        }
        img {
            width: 300px;
            text-align: center;
            margin: 0;
        }
}

// begin the footer

#footerWrapper {
    background-color: $primaryColor;
}

footer {
    padding: .5rem $gutter;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
        color: white;
    }
}

